<dialog close class="update-modal">
  <article>
     <header>
      <a href="" aria-label="Close" class="close" id="close-btn"></a> 
    </header>
    <div>
        <h6>¿Desea cambiar el rol de este usuario?</h6>
        <button id="confirm-btn">Confirmar</button>
    </div>
  </article>
</dialog>

<section style="display: flex; flex-direction: column; justify-content: start; align-items: start; width: 100%;">
    <div style="display: flex; justify-content: start; gap: 1em; align-items: start; width: 90%">
        <a href="#" onclick="history.go(-1) ">
            <svg style="margin-top: 0.75em;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z" fill="rgba(255,255,255,1)"></path></svg>
        </a>
        <h1>Panel de administración de usuarios</h1>
    </div>
    <article >
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
            {{#each users}}
                <tr>
                    <th> {{ this.id }} </th>
                    <th> {{ this.first_name }} {{ this.last_name }} </th>
                    <th> {{ this.email }} </th>
                    <th> {{ this.role }} </th>
                    <th data-id="{{ this.id }}" class="actions" style="display: flex; justify-content: center; gap: 0.5em;"> 
                        <button class="update-btn" style="background: none; border: none; padding: 0; margin: 0;">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#ffffff"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                        </button>
                        <button class="delete-btn" style="background: none; border: none; padding: 0; margin: 0;">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#ffffff"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                        </button>
                    </th>
                </tr>
            {{/each}}
        </table>
    </article>
</section>

<script type="module" src="/js/admin.js"></script>