<section style="display: flex; justify-content: space-between; align-items: start; width: 100%;">
    <div style="display: flex; justify-content: start; gap: 1em;  align-items: start; width: 300px;">
        <a href="#" onclick="history.go(-1) ">
            <svg style="margin-top: 0.75em;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z" fill="rgba(255,255,255,1)"></path></svg>
        </a>
        <h1>Mi carrito 🛒</h1>
    </div>
    <a href="/ticket" role="button">Comprar</a> 
</section>

<section>
    <article>
        <table>
            <tr>
                <th>Producto</th>
                <th>Descripción</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
            {{#each products}}
                <tr>
                    <th> {{ this.product.title }} </th>
                    <th> {{ this.product.description }} </th>
                    <th> {{ this.product.category }} </th>
                    <th> {{ this.product.price }} </th>
                    <th> {{ this.quantity }} </th>
                </tr>
            {{/each}}
        </table>
    </article>
</section>