<dialog open class="welcome-modal">
  <article>
    <header>
      <a href="" aria-label="Close" class="close" id="close-btn"></a> 
    </header>
    Bienvenido {{ user.first_name }} {{ user.last_name }}
  </article>
</dialog>

<section style="display: flex; justify-content: space-between;">
    <h1>Productos</h1>
    <div style="width: 35%; display: flex; justify-content: space-between; gap: 1em">
      <button data-id="{{ user.cart }}" id="nav-cart" style="width: 50%;">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>
      </button>
      <button id="nav-profile" style="width: 50%;">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
      </button>
      {{#if isAdmin}}
        <button id="nav-admin" style="width: 50%;">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="48"  height="48"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-settings"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
        </button>
      {{/if}}
    </div>
</section>

<section>
    {{#each payload}}
    <article>
        <div style="display: flex; justify-content: space-between; align-items: center; ">
            <h3>[ {{ this.category }} ] | {{ this.title }} - ${{ this.price }}</h3>
            <div style="display: flex; gap:1em; width: 30%;" data-id="{{ this._id }}">
                <input type="number" name="quantity" id="quantity" min="1" value="1" style="width: 38%;" required>
                <button class="btn-cart" type="button" id="btn-add" style="font-size: 0.85rem;">Agregar al carrito</button>
            </div>
        </div>
        <p>{{ this.description }}</p>
        <div style="display: flex; justify-content: space-between;">
            <p style="font-size: 0.85rem;">Status: {{ this.status }}</p>
            <p style="font-size: 0.85rem;">Stock: {{ this.stock }}</p>
        </div>
    </article>
    {{/each}}
</section>

<section style="display: flex; justify-content: center; gap: 1em">
    <a href="{{ prevLink }}" role="button" {{#unless hasPrevPage}}disabled{{/unless}}>Página anterior</a>
    <h3>{{ page }}</h3>
    <a href="{{ nextLink }}" role="button" {{#unless hasNextPage}}disabled{{/unless}}>Página siguiente</a>
</section>

<script src="/js/products.js"></script>